
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import 'atropos/scss';
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.image-container1 {
  /* Define the visible area size */
  width: 350px;
  height: 350px;
  /* Hide the overflowing parts of the image */
  overflow: hidden;
  /* Establish a positioning context for the absolute image */
  position: relative;
  cursor: pointer;
}

.full-screen-container {
  position: relative; /* Required for the 'fill' attribute to work */
  height: 50vh; /* Ensure the container spans the full screen height */
  width: 50vh; /* Ensure the container spans the full screen width */
  /* You may also want to add z-index management if you have other content */
}
.flex-container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 70vh;           /* Use full viewport height for centering on the screen */
  //row-gap: 10px;    /* Space between flex lines/rows */
  column-gap: 10px; /* Space between items in a row */
}
.tabs-container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  //height: 10vh;           /* Use full viewport height for centering on the screen */
  margin-bottom: 50px;
  //row-gap: 10px;    /* Space between flex lines/rows */
 // column-gap: 10px; /* Space between items in a row */
}
.logo-container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
             /* Use full viewport height for centering on the screen */
  margin-bottom: 30px;
  //row-gap: 10px;    /* Space between flex lines/rows */
 // column-gap: 10px; /* Space between items in a row */
}
.video {
  height:600px;
  width:400px;
}
.cart-container {
  display: flex;
  justify-content:center ; /* Centers horizontally */
  align-items:center;     /* Centers vertically */
  flex-direction: column;
  //height: 100vh;           /* Example: centers in the full viewport height */
}
